<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}VitaMate{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'VitaMate/css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>
<body>
    <header>
    <h1 align="center">VitaMate</h1>
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>This is an educational project created for learning purposes.</p>
       <p> &copy; 2023 YourCompany | Privacy Policy | Terms of Use</p>
    </footer>
</body>
</html>
