<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}VitaMate{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'VitaMate/css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>
<body>
    <h1 align="center">VitaMate</h1>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
