<!-- pressure_data.html -->
<div class="right">
<div class="pale-data-container">
    <div class="pale-data">
        <button id="showFormButton" class="pale-data-item"></button>
        {% for item in pale_data %}
        <div class="pale-data-item">
            <p>{{ item.systolic_pressure }} / {{ item.diastolic_pressure }}</p>
            <p>{{ item.pulse }}</p>
            <p>{{ item.time|date:"H:i" }}</p>
            <p>{{ item.date }}</p>
        </div>
        {% endfor %}

    </div>
</div>
</div>
