{% extends "./base.html" %}

{% block heading %}My Pressure Chart{% endblock %}

{% block content %}
    <div class="left">
        <div id="my-chart"></div>
    </div>
    {% include "./pressure_data.html" with pale_data=pale_data %}
    {% include "./popup_form.html" %}
    {% load static %}
    <script src="{% static 'VitaMate/js/script.js' %}"></script>
    <script>
        var labels = [{% for item in data %}'{{ item.date }}',{% endfor %}];
        var data = {
            labels: labels,
            series: [
                [{% for item in data %}{{ item.average_pressure }},{% endfor %}]
            ]
        };

        var options = {
            high: 200,
            low: 50,
            axisX: {
                labelInterpolationFnc: function (value, index) {
                    return labels[index];
                }
            }
        };

        new Chartist.Line('#my-chart', data, options);
    </script>


{% endblock %}
